.app {
  overflow: auto;
}

.columns {
  margin: 10px 10px 0px 10px;
  height: 82vh;
  max-height: 82vh;
  overflow: auto;
}

input[type="text"] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  margin-top: 10px;
}

.pictures {
  height: 200px;
  width: 250px;
  object-fit: cover;
}

.thumbnail {
  height: 100px !important;
  width: 100px !important;
  object-fit: cover;
}

h1 {
  margin-left: 10px;
}

.picSpinner {
  margin: 30px auto;
}

.picContainer {
  text-align: center;
}

.mobileBackButton {
  margin: 5px 5px;
}

.darkSwitchContainer {
  justify-content: center;
}

.MuiGrid-spacing-xs-1 {
  width: calc(100%) !important;
}

.MuiTypography-body1 {
  height: 10px !important;
}
