.app {
  overflow: auto;
}

.columns {
  margin: 10px;
  height: 600px;
  max-height: 600px;
  overflow: auto;
}

input[type="text"] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
}

.pictures {
  height: 200px;
  width: 250px;
  object-fit: cover;
}

.thumbnail {
  height: 125px;
  width: 125px;
  object-fit: cover;
}

h1 {
  margin-left: 10px;
}

.picSpinner {
  margin: 30px auto;
}
